*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

body
{
	background-image: url(../images/fondo.jpg);
	text-align: center;
}

.container
{
	max-width: 1180px;
	margin: auto;

}

ul li
{
	list-style-type: none;
}

nav
{
	margin-top: 30px;
	margin-bottom: 20px;
}

.principal, .main_footer, .main-header
{
	width: 100%;
}

.main-nav a, .main_footer a {
	background-color: #333333;
	color: white;
	display: block;
	width: 100%;
/*	margin: 3px 0;*/
	border: 1px solid white;
	padding: 5px;
}

.main-header img {
	border-radius: 10px;
	width: 70%;
}

.articulo-inicio, .principal-registro, .principal-ingreso, .principal-preguntas
{
	
	border-bottom: 1px solid black;
	width: 100%;
	padding: 5px;
	
}

h2, p
{
	margin: 15px;
}

.div_footer
{
	margin: 5px;
}

.principal-registro form, .principal-ingreso form
{
	display: inline-block;
	text-align: right;
}

.principal-registro .formulario, .principal-ingreso .formulario
{
	display: inline;
}

.formulario input
{
	border: 1px solid black;
}

form 
{
	margin: 20px;
}

.principal-preguntas .preguntas
{
	display: inline-block;
	text-align: left;
}




