@media (min-width: 768px)
{

	.arriba 
	{
		display: inline;
	}

	.arriba img
	{
		width: 40px;
		height: 40px;
		position: fixed;
		right:  20px;
		bottom: 20px; 
	}

	.main-nav a
	{
		float: left;
		width: 24%;
		font-size: 75%;
		border-radius: 15px;
	}


/*
	.main-nav a
	{
		float: left;
		width: 23%;
		margin: .8%;
		font-size: 75%;
	}

	.articulo
	{
		float: left;
		margin: .5%;
	}

	.main_footer
	{
		overflow: hidden;
	}

	.principal
	{
		overflow: hidden;
	}

	.div_footer
	{
		float: left;
		width: 30%;
		min-height: 50px;
	}

*/


} /*fin @media (min-width: 600px)*/
